<div class="template-title">
    Portal Template
</div>
<div class="template-content-right">
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>
    <div class="checkbox-template">
        <rmhub-checkbox [labelText]="'EB001AVMS01 '"></rmhub-checkbox>
    </div>

</div>
<div class="checkbox-template-footer">
    <rmhub-checkbox [labelText]="'Check all Portal '"></rmhub-checkbox>
</div>
