<div class="change-password">
  <div class="menu-toggler sidebar-toggler">
  </div>
  <div class="content">
    <form class="login-form" [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
      <div class="logo">
        <a href="index.html">
          <img src="../../assets/img/logo-cyan.png" alt="" />
        </a>
      </div>
      <div class="message">
        <p>Change your password by filling the form bellow.</p>
      </div>
      <div class="form-body">
        <div class="form-group form-group-margin">
          <input class="form-control"
            [ngClass]="{'textbox-invalid':(submitted && f.currentpassword.errors), 'textbox-content':!(submitted && f.currentpassword.errors)}"
            value="" type="password" autocomplete="off" placeholder="Current password" #currentpassword
            formControlName="currentpassword" />
          <label class="textbox-label">Current password</label>
          <span *ngIf="currentpassword.type == 'password'" class="fa fa-fw fa-eye field-icon toggle-password"
            (click)="toggleShow($event, currentpassword)"></span>
          <span *ngIf="currentpassword.type == 'text'" class="fa fa-fw fa-eye-slash field-icon toggle-password"
            (click)="toggleShow($event, currentpassword)"></span>
          <div *ngIf="submitted && f.currentpassword.errors" class="invalid-feedback">
            <div *ngIf="f.currentpassword.errors.required">Current Password must be fulfilled
            </div>
          </div>
        </div>
        <div class="form-group form-group-margin">
          <input class="form-control" value="" type="password" autocomplete="off"
            [ngClass]="{'textbox-invalid':(submitted && f.newpassword.errors), 'textbox-content':!(submitted && f.newpassword.errors)}"
            placeholder="New password" #newpassword formControlName="newpassword" />
          <label class="textbox-label">New password</label>
          <span *ngIf="newpassword.type == 'password'" class="fa fa-fw fa-eye field-icon toggle-password"
            (click)="toggleShow($event, newpassword)"></span>
          <span *ngIf="newpassword.type == 'text'" class="fa fa-fw fa-eye-slash field-icon toggle-password"
            (click)="toggleShow($event, newpassword)"></span>
          <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
            <div *ngIf="f.newpassword.errors.required">New Password must be fulfilled
            </div>
          </div>
        </div>
        <div class="form-group form-group-margin">
          <input class="form-control"
            [ngClass]="{'textbox-invalid':(submitted && f.confirmpassword.errors), 'textbox-content':!(submitted && f.confirmpassword.errors)}"
            value="" type="password" autocomplete="off" placeholder="Confirm new password" #confirmpassword
            formControlName="confirmpassword" />
          <label class="textbox-label">Confirm new password</label>
          <span *ngIf="confirmpassword.type == 'password'" class="fa fa-fw fa-eye field-icon toggle-password"
            (click)="toggleShow($event, confirmpassword)"></span>
          <span *ngIf="confirmpassword.type == 'text'" class="fa fa-fw fa-eye-slash field-icon toggle-password"
            (click)="toggleShow($event, confirmpassword)"></span>
          <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmpassword.errors.required">Confirm Password must be fulfilled
            </div>
          </div>
        </div>
        <div class="form-group" style="padding-top: 10px">
          <button type="button" class="btn button-cancel uppercase pull-right" (click)="Check()">Cancel</button>
          <button type="submit" class="btn button-ok uppercase pull-right">Ok</button>
        </div>
      </div>
      <div class="login-options">
      </div>
    </form>
  </div>
</div>