.change-password {
  display: flex;
}
.change-password .content {

  .logo {
    text-align: center;
  }
}

.change-password .content .form-body {
  padding-top: 50px;

  .form-group {
    font-size: 14px;
    line-height: 16px;

    &-margin{
      margin-bottom: 20px;
    }

    .form-control {
    width: 490px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 3px !important;
    }

    .btn {
      width: 120px;
      height: 40px;
      border-radius: 3px !important;
      color: #FFFFFF;
    }

    .button-ok {
      background: #38AB58;
      margin-right: 10px;
    }
    .button-cancel {
      background: #677484;
    }
  }
}
