.icon-close-popup {
    width: 11px;
    background-image: url('../../../../../assets/img/portlet-remove-icon-white.png');
  }
  .form-horizontal .label-lcone {
    text-align: left;
  }

  .cc_titre3 {
    padding: 2px 2px 2px 6px;
    letter-spacing: 1px;
    background-color: #b3dfdb;
    color: #ffffff;
    text-shadow: 0px 1px 1px #009688;
}
hr {
  margin: 3px 0px;
}
.cc_entete {
  background: #EDF7F8 bottom left repeat-x;
  padding: 4px 4px 4px 4px;
}
.cc_titre0 {
  border: solid 1px #bbe1e5 ! important;
  border-radius: 5px;
  background: white !important;
  color: #5cc3ba;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.cc_entete .table-info-top {
  margin:auto;
  width: 100%;
}

.table-info-bot {
  width: 584px;
}

.padding-right-5{
  padding-right: 5px;
}

.cc_titre_tableau {
  letter-spacing: 1px;
  width: auto;
  padding: 2px;
  color: #009688;
}
.cc_annot10_white {
  color: #009688;
}