<div>
  <div class="portlet box green-haze">
    <div class="portlet-title portlet-title-popup">
      <div class="tools tools-popup">
        <a class="icon-close-popup" (click)="onClosePopup()">
        </a>
      </div>
    </div>

    <div class="portlet-body">
      <div class="cc_entete">
        <table class="table-info-top">
          <tbody>
            <tr>
              <td width="30%"><img id="ICO_admin_190316102024"
                  src="../../../../../assets/img/map/BAU_OK_SLEEP.png" alt="Icone"></td>
              <td class="cc_titre0"></td>
            </tr>
            <tr>
              <td class="cc_annot10_white">Updated</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cc_titre_tableau">Controller's timestamp</div>
      <div class="cc_titre3">Technical status</div>
      <div class="cc_titre_tableau">State of communications</div>
      <hr>
      <div class="cc_titre_tableau">Horodate defaut</div>
      <table class ="table-info-bot">
        <tbody>
          <tr>
            <td width="25%" class="padding-right-5">
              <div id="ENT_INF_admin_190316102024" class="cc_titre3">Informations</div>
            </td>
            <td width="25%" class="padding-right-5">
              <div id="ENT_INF_admin_190316102024" class="cc_titre3">Events</div>
            </td>
            <td width="25%" class="padding-right-5">
              <div id="ENT_INF_admin_190316102024" class="cc_titre3">Minor Alarms</div>
            </td>
            <td width="25%">
              <div id="ENT_INF_admin_190316102024" class="cc_titre3">Major Alarms</div>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>