td{
    border-top: none !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: middle !important;
}

.box-info{
    background-color: #777773;
    padding: 10px;
}
.box-bottom{
    padding-top: 10px;
}
.link-info:hover{
    color: red !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
}

.input-customer{
    background-color: black;
    color: yellow;
    cursor: auto;
}

