/*
* The settings-layer contains all our global Design System variables.
* It defines colors, spacings, font-sizes, breakpoints settings and many more.
*/

$color-base-hover: lighten(#337ab7, 35%); //#337ab7;//06c5fb
$color-base: #337ab7;
$color-base-darker: #285f8f;
$color-green: #38AB58;
$color-grey: #677484;
$color-black: #000000;
$color-base-secondary: #abd0f6;
$color-white: #ffffff;
$color-lightgray: #ebebeb;
$color-gray: #ebebeb;
$color-text-control: #333;
$break-word: break-word;
$color-grey-verylight: #ebebeb;
$color-bg-body: #f1f1f1;
$color-theme-violet: #353535;
$color-white: #ffffff;
$color-theme-darkviolet: #2a2a2a;
