.table-showing {
    padding-right: 10px;
    font-size: 14px;
    line-height: 16px;
}

.align-records {
    padding-top: 9px;
    font-size: 16px;
    line-height: 28px;
}
.table-records {
   padding-left: 10px;
   font-size: 14px;
   line-height: 16px;
}

.table-entries {
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.invalid-feedback {
    margin-top: 6px;
    color: #991414;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.invalid-feedback{
   margin-top: 6px;
   color: #991414;
   font-style: italic;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
 }
