<div class="forgot-pwd">
  <div class="menu-toggler sidebar-toggler">
  </div>

  <div class="content">
    <form class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="forgot-form-title uppercase">
        <p>FORGOT your password </p>
      </div>
      <div class="forgot-form-message">
        <p>Please enter your email address, we will send an email with a new password to you for reset account</p>
      </div>
      <div class="form-body">
        <div class="form-group">
          <label class="control-label">Email Address <span class="text-danger">*</span> </label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{'textbox-invalid': submitted && f.email.errors}" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">The email address’s format is blank. Please enter your email address.
            </div>
            <div *ngIf="f.email.errors.email">The email address’s format is wrong. Please enter your email address
              again.</div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" [routerLink]="['']" class="btn button-back uppercase pull-right">back to login
            page</button>
          <button type="submit" class="btn button-send uppercase pull-right">send
            email</button>
        </div>
      </div>
      <div class="login-options">
      </div>
    </form>
  </div>
</div>