
.forgot-pwd {    
  display: flex;
}
.forgot-pwd .content {
  
  .forgot-form{
    &-title{
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
    }
    &-message{
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 40px;
      color: #999999;
    }
  }  
}
.control-label{  
  color: rgba(0, 0, 0, 0.54);
}
.form-group{
  margin-bottom: 30px;
}
.form-control {
  width: 490px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 3px !important;
}

.btn{
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 3px !important;
}
.button-send{
  width: 120px;
  height: 40px;  
  margin-right: 10px; 
  background: #38AB58;
}
.button-back{  
  width: 180px;
  height: 40px;
  background: #677484;
}