.class-speed-normal {
    background-color: #EBC051;
}

.class-speed-slow {
    background-color: #FF2D2D;
}

.box-show-speed {
    width: 70px;
    padding: 0 5px;
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto';
    text-align: center;
}