.button-register > button {
    display: table-cell;
}
.button-register {
    text-align: right;
}
.select-device {
    min-width: 305px;
}
.device-title {
    margin-top: 12px;
}
.button-cancel{
    margin-right: 5px;
}
