.map-ic-detail {
    width: 209px;
    position: fixed;
    bottom: 90px;
    right: 40px;
    z-index: 1000;
 }

 .map-table-detail,
 tr,
 td {
    width: 209px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
 }

 .map-table-tr {
    height: 33px;
 }

 .map-img {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: sub;
 }
