<div class="map-ic-detail">
    <table class="map-table-detail">
        <tr class="map-table-tr">
            <td><img class="map-img" src="/assets/icon/ic_technical_issue.png" alt=""><span>{{'Map.map_note.technical_issue' | translate}}</span></td>
        </tr>
        <tr class="map-table-tr">
            <td><img class="map-img" src="/assets/icon/ic_green.png" alt=""><span>{{'Map.map_note.normal_state' | translate}}</span></td>
        </tr>
        <tr class="map-table-tr">
            <td><img class="map-img" src="/assets/icon/ic_black.png" alt=""><span>{{'Map.map_note.error_state' | translate}}</span></td>
        </tr>
    </table>
</div>
